<section class="filters">
  <div class="container mt-3">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-search"></i>
      </span>
      <input
        pInputText
        #term
        placeholder="Buscar Exercício"
        (keyup)="filterByTerm(term.value)"
      />
    </div>
  </div>

  <div class="ps-3 pe-1 pt-3 pb-3 d-flex flex-nowrap scroll-y">
    <div *ngFor="let category of categories" class="me-2">
      <shared-category-icon
        [category]="category"
        size="32px"
        (click)="filterByCategories(category.id)"
      ></shared-category-icon>
    </div>
  </div>
</section>

<div class="container">
  <div class="card">
    <p-table
      [value]="exercises"
      styleClass="p-datatable-sm p-datatable-striped"
    >
      <ng-template pTemplate="body" let-exercise let-i="rowIndex">
        <tr>
          <td class="text-capitalize">
            <!-- <span>{{ i + 1 }} - </span> -->
            <span>{{ exercise.name }}</span>
          </td>
          <td>
            <div class="d-flex justify-content-end align-items-center">
              <shared-category-icon
                *ngFor="let category of exercise.categories"
                [category]="category"
                size="28px"
                style="margin-left: -20px"
              ></shared-category-icon>
              <!-- <button class="btn btn-sm btn-danger">
              <i class="fa fa-trash" (click)="deleteExercise(exercise.id)"></i>
            </button> -->
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
