<section class="container">
  <h3 class="mt-4 mb-4 text-center">
    <i class="fa fa-list"></i>
    <span> Treinos</span>
  </h3>

  <div class="list-group small">
    <div class="list-group-item bg-primary text-white fw-bold">
      <span>TREINO A</span>
    </div>
    <div class="list-group-item d-flex justify-content-between bg-white">
      <div>
        <span>Supino Reto </span>
        <i class="fa fa-check text-success"></i>
      </div>
      <span>3x <b>20kg</b></span>
    </div>
    <div class="list-group-item d-flex justify-content-between bg-white">
      <div>
        <span>Supino Inclinado </span>
        <i class="fa fa-check text-success"></i>
      </div>
      <span>3x <b>10kg</b></span>
    </div>
    <div class="list-group-item d-flex justify-content-between bg-white">
      <span>Supino Declinado</span>
      <span>3x <b>15kg</b></span>
    </div>
    <div class="list-group-item d-flex justify-content-between bg-white">
      <span>Crossover</span>
      <span>3x <b>20kg</b></span>
    </div>
    <div class="list-group-item d-flex justify-content-between bg-white">
      <span>Voador Peitoral</span>
      <span>3x <b>55kg</b></span>
    </div>
  </div>
</section>
