.category-icon {
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    margin: 0;
    margin-left: -5px;
  }

  span{
    display: block;
    margin-right: 6px;
  }
}
