<p-dialog
  [(visible)]="visible"
  [style]="{ width: '90vw', 'max-width': '700px' }"
  [modal]="true"
  [draggable]="true"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h4 class="mb-0">
      <i class="fa fa-plus"></i>
      <span> Criar Exercício</span>
    </h4>
  </ng-template>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="name">Nome do Exercício</label>
      <input
        type="text"
        pInputText
        formControlName="name"
        style="width: 100%"
      />
    </div>
    <div class="mb-3">
      <label for="name" class="mb-2">Categorias do Exercício</label>
      <div class="d-flex flex-wrap">
        <div
          *ngFor="let category of categories"
          class="me-2 mb-2 cursor-pointer"
        >
          <shared-category-chip
            [category]="category"
            (click)="setCategories(category.id)"
            [ngStyle]="
              !this.selectedCategories.includes(category.id)
                ? { filter: 'grayscale(1) brightness(1.2)' }
                : { filter: 'grayscale(0) brightness(1)' }
            "
          ></shared-category-chip>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-save"></i>
        <span> Salvar</span>
      </button>
    </div>
  </form>
</p-dialog>
